.watchLeftColumn {
    flex: 1;
}

.watchLeftColumn .videoPlayer {
    width: 100%;
    min-width: 350px;
}


/* @media only screen and (max-width: 600px) {
    .watchLeftColumn .videoPlayer {
        width: 100%;
    }
} */

.suggestions {
    max-width: 425px;
    flex-grow: 1;
    height: 100%;
    padding-left: 24px;
}

.videoInfo {
    width: 100%;
    padding: 20px 0 4px 0;
}

.videoInfo h1 {
    display: block;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: -20px;
}

.bottomSection {
    display: flex;
}

.views {
    color: rgba(17, 17, 17, 0.6);
    font-size: 10px;
    flex: 1;
}

.controls {
    flex: 1;
    text-align: right;
    margin-top: -30px;
}

.controls button {
    border: none;
    background: transparent;
    padding: 0;
    color: rgba(17, 17, 17, 0.4);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer
}

.controls button img {
    height: 20px;
    width: 20px;
    margin: 4px 8px 8px 8px;
}

.secondaryInfo {
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.topRow {
    display: flex;
    margin-bottom: 12px;
}

.profilePicture {
    height: 100%;
}

.topRow .profilePicture {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%
}

.uploadInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.date {
    color: rgba(17, 17, 17, 0.5);
    font-size: 12px;
    font-weight: 400;
}

.descriptionContainer {
    margin-left: 64px;
    max-width: 615px;
}

.topRow .button,
.edit {
    padding: 6px 15px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    font-size: 10px;
}

.owner a {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.subscribeButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribeButtonContainer .subscribe {
    background: #f00;
    color: #fff;
}

.subscribeButtonContainer .unsubscribe {
    background: #eee;
    color: rgba(17, 17, 17, 0.6);
}

.edit {
    background: #2692e6;
    color: #fff;
}

.header {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.header .profilePicture {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.header .commentCount {
    margin-bottom: 24px;
}

.header .commentForm {
    display: flex;
}

.commentBody {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 14px;
    color: #3111;
    resize: none;
}

.postComment {
    height: 36px;
    background: #2692e6;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 0 15px;
    border-radius: 2px;
}